
APP_NAME="Athleat"
APP_ENV=local
APP_KEY=base64:Uc+b04ilemVBCqKLQ8weWsKWPiBy8fdEPN7JtdZevxc=
APP_DEBUG=true
ASSET_URL=https://athleat.com/
APP_URL=https://athleat.com/

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=health_support_new
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.biohealthpassport.com.au
MAIL_PORT=465
MAIL_USERNAME="_mainaccount@biohealthpassport.com.au"
MAIL_PASSWORD="DI2-2ki(j20NlO"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS= "info@biohealthpassport.com.au"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_SECRET=sk_test_51QI09cHWqn47bqTG2jBxRszIld9Jh0XITRvFvDLPCpmgQUjls75dfoSw5IBBZiqXZkVz7yVgHLYInFBHN76eeZ9W0071DUatdf
STRIPE_KEY=pk_test_51QI09cHWqn47bqTGYhGZIsiPSerWujjQgoHf4g0JwygrNt1OMC3RtEnMIjiEWbc8hiaN4umn4TD5zB8sBQEqcjzY0071a4RbUv

OPENAI_API_KEY=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

SESSION_SECURE_COOKIE=false

TELESCOPE_ENABLED=true
TELESCOPE_DRIVER=database
TELESCOPE_DOMAIN=null
TELESCOPE_PATH=telescope
TELESCOPE_QUEUE_CONNECTION=null
TELESCOPE_QUEUE=null
TELESCOPE_QUEUE_DELAY=10
TELESCOPE_RESPONSE_SIZE_LIMIT=64

TWILIO_SID=AC42bd0385797c654641f34a4935f7fcda
TWILIO_AUTH_TOKEN=c4a693d40d2ef217c9e3f801c0baa247
TWILIO_FROM_NUMBER=+12567037713